<%- include('partials/header.ejs') %>

<div class="container post-create">
  <div class="my-3">
    <h3>Title</h3> 
    <form action="/post/edit/<%= post.id %>" method="post">
      <input name="title" type="text" class="feedback-input" placeholder="Title" value="<%= post.title %>">

    <h3>Content</h3>
      <textarea name="content" class="feedback-input" placeholder="Description"><%= post.content %></textarea>
      <input type="submit" value="SUBMIT" />
    </form>
  </div>
</div>



<%- include('partials/footer.ejs') %>